<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.almg.chalchiteko">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyTheme.DayNight"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".PalabraListActivity"
            android:label="@string/title_palabra_list"
            android:theme="@style/MyTheme.DayNight.NoActionBar"></activity>
        <activity
            android:name=".PalabraDetailActivity"
            android:label="@string/title_palabra_detail"
            android:parentActivityName=".PalabraListActivity"
            android:theme="@style/MyTheme.DayNight.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.almg.chalchiteko.PalabraListActivity" />
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".TranslateActivity" />
        <activity android:name=".EvaluationActivity" />
        <activity android:name=".ExamplesActivity" />
        <activity android:name=".VocabularyActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>